<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1 class="text-center">Getting Started With Angular</h1>
			<div>
				<h3>Step 1: Bootstrapping </h3>
				<p>The ng-app directive is used as an attribute on an element to tell angular what portion of the markup should be treated as an Angular application.</p>
				<h3>Step 2: Expressions</h3>
				<p>Expressions in Angular are evaluated inside double curly braces and are replaced with the value of the expression.</p>
				<h3>Step 3: Controllers</h3>
				<p>Controllers are used in Angular to perform logic on a scoped portion of the markup</p>
				<h3>Step 4: Model and Two Way Data Binding</h3>
				<p>ngModel is used in Angular for the use of two-way data binding.</p>
				<h3>Step 5: ngRepeat</h3>
				<p>ngRepeat is used in Angular to loop over arrays and output data to the view.</p>
				<h3>Step 6: Directives</h3>
				<p>Directives are portions of markup that can be ajaxed into a page</p>
				<h3>Step 7: ngRoute</h3>
				<p>ngRoute enables the ability to serve templates and controllers based on the route.</p>
			</div>
		</div>
	</div>
</div>